@model Harbor.UI.Models.Content.PageLinkDto
<span data-rel="pageLink" class="@Model.tileClassName">
	@if (Model.hasPreviewImage)
	{
		<a href="@Model.link" class="media">
			<img src="@Model.previewImageSrc" />
		</a>
	}
	<div class="caption">
		<h2><a href="@Model.link">@Model.title</a></h2>
		<p>
			@Html.Raw(Model.previewText)
		</p>
	</div>
</span>