@model  Harbor.Domain.Pages.Content.ProductLink
@using Harbor.Domain.Files
@using Harbor.UI.Extensions
@using Harbor.UI.Models
@{
	var link = VirtualPathUtility.ToAbsolute(Model.VirtualPath);
}
<div data-rel="productLink" class="@Model.TileClassName">
	@if (Model.HasPreviewImage)
	{
		<a href="@link" class="media">
			<img src="@FileUrls.GetUrl(Model.PreviewImageID.ToString(), null, null, FileResolution.Low)" />
		</a>
	}
	<div class="caption">
		<h2><a href="@link">@Model.Title</a></h2>
		@*<p>
			@Html.Raw(Model.previewText)
		</p>*@
		@if (Model.ProductCount > 0)
		{
			if (Model.ProductCount > 1)
			{
				<div>
					<a href="@link" class="button loud">See purchase options</a>
				</div>
			}
			else
			{
				@Html.PayPalButton(ViewBag.MerchantID as String, Model.FirstButton)
			}
		}
	</div>
</div>