@using Harbor.Domain.Pages


<div data-templatefor="pageUICMenuView" class="uic-menu">
	<span class="icon-move" title="Move"></span>
	<span class="icon-previous" data-event="movePrevious" title="Move previous"></span>
	<span class="icon-next" data-event="moveNext" title="Move next"></span>
    <span class="icon-columns" data-event="changeLayout" title="Update the size and alignment"></span>
    <span class="icon-remove" data-event="removeComponent" title="Delete"></span>
</div>



<div data-templatefor="addPageComponentView">
	<h1>Add content</h1>
	<form data-event="submit: formSubmit">
		<h2 data-bind="showif: hasOtherComponentTypes">Suggested content</h2>
		<div class="selectlist">
			<ul>
				<li class="col3" style="height: 10em;" data-collection="primaryComponents" tabindex="0" data-bind="title: description">
					<input type="radio" name="pageComponentKey" data-bind="val: key" class="hide"/>
					<h1 data-bind="text:name"></h1>
					<div data-bind="text: description"></div>
				</li>
			</ul>
		</div>
		
		<div data-bind="showif: hasOtherComponentTypes">
			<h2>Other content</h2>
			<div class="selectlist">
				<ul>
					<li class="col3" style="height: 10em;" data-collection="otherComponents" tabindex="0" data-bind="title: description">
						<input type="radio" name="pageComponentKey" data-bind="val: key" class="hide" />
						<h1 data-bind="text:name"></h1>
						<div data-bind="text: description"></div>
					</li>
				</ul>
			</div>
		</div>

		<div class="form-controls">
			<input type="submit" value="Add" class="loud">
			<input type="button" value="Cancel" data-rel="back">
		</div>
	</form>
</div>


<div data-templatefor="changeLayoutView">
	<h1>Change Layout</h1>
	<form data-event="submit: submitForm">
		<fieldset>
			@*<legend>Size</legend>*@
			<div>
				<div class="float-left pad">
					<label for="colClassName-col1">
						<input type="radio" id="colClassName-col1" name="colClassName" value="@Template.ContentClassNames.Col1" />
						Full row
					</label>
				</div>
				<div class="float-left pad">
					<label for="colClassName-tile">
						<input type="radio" id="colClassName-tile" name="colClassName" value="@Template.ContentClassNames.Tile" />
						Tile
					</label>
				</div>	

				<div class="clear float-left pad">
					<label for="colClassName-col2">
						<input type="radio" id="colClassName-col2" name="colClassName" value="@Template.ContentClassNames.Col2" />
						Half row
					</label>
				</div>
				<div class="float-left pad">
					<label for="colClassName-col3">
						<input type="radio" id="colClassName-col3" name="colClassName" value="@Template.ContentClassNames.Col3" />
						Thrid row
					</label>
				</div>
				<div class="float-left pad">
					<label for="colClassName-col3-2">
						<input type="radio" id="colClassName-col3-2" name="colClassName" value="@Template.ContentClassNames.Col3_2" />
						Two thirds row
					</label>
				</div>
			</div>
			<hr class="clear" />
			<div class="pad-left">
				<label for="clear" class="pad-left">
					<input type="checkbox" id="clear" name="clear" />
					Start a new row
				</label>
			</div>
		</fieldset>
		<fieldset>
			<legend>Content positioning</legend>
			<div class="float-left pad">
				<input type="radio" id="ContentPositionClassName-text-left" name="contentPositionClassName" value="text-left" />
				<label for="ContentPositionClassName-text-left">
					<span class="icon-align-left"></span><br />
					Left
				</label>
			</div>
			<div class="float-left pad">
				<input type="radio" id="ContentPositionClassName-text-center" name="contentPositionClassName" value="text-center" />
				<label for="ContentPositionClassName-text-center">
					<span class="icon-align-center"></span><br />
					Center
				</label>
			</div>
			<div class="float-left pad">
				<input type="radio" id="ContentPositionClassName-text-right" name="contentPositionClassName" value="text-right" />
				<label for="ContentPositionClassName-text-right">
					<span class="icon-align-right"></span><br />
					Right
				</label>
			</div>
			<div class="float-left pad">
				<input type="radio" id="ContentPositionClassName-text-justify" name="contentPositionClassName" value="text-justify" />
				<label for="ContentPositionClassName-text-justify">
					<span class="icon-align-justify"></span><br />
					Justify
				</label>
			</div>
		</fieldset>
		<div class="form-controls">
			<input type="submit" value="Save" class="loud flat">
			<input type="button" value="Cancel" data-rel="back" class="flat">
		</div>
	</form>
</div>