@using Harbor.UI
<div class="menulist">
	@*<h2>Development</h2>*@
	<ul>
		<li>
			<a href="@Url.Action("Index", "StyleGuide")">Style Guide</a>
		</li>
		<li>
			<a href="~/Home/AppJsApi">App<span class="attn">js</span> Documentation</a>
		</li>
		<li>
			<a href="@Url.Action("JavaScriptPackages", "Home")">JavaScript Packages</a>
		</li>
		<li>
			<a href="~/elmah.axd">Elmah (Http Errors)</a>
		</li>
	</ul>
	<hr />
	<div>
		@if (string.IsNullOrEmpty(HarborApplication.GoogleAnalyticsAccount)) {
			<span>Google analytics is not configured.</span>
		} else {
			<a href="https://www.google.com/analytics">Google Analytics (@HarborApplication.GoogleAnalyticsAccount)</a>		
		}
	</div>
</div>
@*
<h2>Development</h2>
<ul>
	<li><a href="@Url.Action("Index", "StyleGuide")">Style Guide</a></li>
	<li><a href="@Url.Action("JavaScriptPackages", "Home")">JavaScript Packages</a></li>
	<li><a href="@Url.Action("JavaScriptTests", "Home")">JavaScript Tests</a></li>
</ul>
*@