@using Harbor.UI
<fieldset>
	<legend>Development</legend>
	<div class="pad-left">
		<a href="@Url.Action("Index", "StyleGuide")">Style Guide</a>
	</div>
	<div class="pad-left">
		<a href="~/Home/AppJsApi">App<span class="attn">js</span> Documentation</a>
	</div>
	<div class="pad-left">
		<a href="@Url.Action("JavaScriptPackages", "Home")">JavaScript Packages</a>
	</div>
	<div class="pad-left">
		<a href="~/elmah.axd">Http Errors</a>
	</div>
	<hr />
	<div class="pad-left">
		@if (string.IsNullOrEmpty(HarborApplication.GoogleAnalyticsAccount)) {
			<span>There is no google analytics account.</span>
		} else {
			<a href="https://www.google.com/analytics">Google Analytics (@HarborApplication.GoogleAnalyticsAccount)</a>		
		}
	</div>
</fieldset>
@*
<h2>Development</h2>
<ul>
	<li><a href="@Url.Action("Index", "StyleGuide")">Style Guide</a></li>
	<li><a href="@Url.Action("JavaScriptPackages", "Home")">JavaScript Packages</a></li>
	<li><a href="@Url.Action("JavaScriptTests", "Home")">JavaScript Tests</a></li>
</ul>
*@