@using Harbor.UI.Extensions
@using Harbor.UI.JSPkgs
@using Harbor.UI.Models.JSPM.Extensions
@{
	// make this an html helper?
	if (ViewBag.Title == null) {
		ViewBag.Title = Harbor.UI.HarborApplication.AppName;
	} else {
		ViewBag.Title += " - " + Harbor.UI.HarborApplication.AppName;	
	}
}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>@ViewBag.Title</title>
		@Html.InstallJavaScriptPackage(ModernizrShivPkg.PackageName)
		@Html.InstallJavaScriptPackage(SiteStylePkg.PackageName)
		@Styles.Render("~/Content/themes/default/theme.css") @*jch* - waiting on theme story*@
		@RenderSection("head", required: false)
	</head>
	<body>
		<div id="frame">
			<header id="frame-header">
				<div id="frame-logo">
					<a href="~/">
						@Harbor.UI.HarborApplication.AppName
					</a>
				</div>	
				<nav id="frame-nav">
					@Html.Action("FrameNav", "Home")
				</nav>
				<nav id="frame-session">
					@*<a id="signin-link" href="@Url.Action("SignIn", "User")">Sign In</a>*@
				</nav>
			</header>	
			<div id="frame-body">
			@RenderBody()
			</div>
			<footer id="frame-info">
				<span title="@Harbor.UI.HarborApplication.Version - @DateTime.Now">
					@Request.ServerVariables["SERVER_NAME"] &copy; @DateTime.Now.Year
				</span>
				<div class="quiet text-small">@Harbor.UI.HarborApplication.Version - @DateTime.Now</div>
			</footer>
		</div>
		<script>
			if (typeof window.JSON === 'undefined') { document.write('<script src="@Url.Content("~/Scripts/json2.min.js")"><\/script>'); }
			window.baseUrl = "@Url.Content("~/")";
		</script>
		@Html.InstallJavaScriptPackage(JQueryPkg.PackageName)
		@if (Request.Browser.Browser == "IE" && Request.Browser.MajorVersion < 9)
		{
			@* Add media query support to older versions of IE *@	
			@Scripts.Render("~/Scripts/respond.js")
		}
		@Html.InstallJavaScriptPackage(ApplicationPkg.PackageName)
		@Html.Action("SessionApp", "User")
		@Html.InstallJavaScriptPackage(PageAdderAppPkg.PackageName)

		@RenderSection("scripts", required: false)

		@Html.InstallJavaScriptPackage(JQueryUICorePkg.PackageName)
		@Html.InstallJavaScriptPackage(JQueryUIInteractionsPkg.PackageName)	
	</body>
</html>