@model IEnumerable<Harbor.Domain.Pages.PageTypeAdmin.PageTypeDto>
<section id="settings-main" class="page centered">
	<div class="page-header">
		<div class="page-header-content">
			<h1>Page Types</h1>
		</div>
	</div>
	<div class="page-body">
		<div class="page-content">
			<div>
				<table class="datatable hover">
					<thead>
						<tr>
							<th>Page Type</th>
							<th>Content</th>
							<th>Pages</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var type in Model)
						{
							<tr>
								<td>
									<strong title="@type.key">
										@type.name
									</strong>
									-
									<span title="Content description: @type.contentDescription">
										@type.description
									</span>
								</td>
								<td>@Html.Raw(type.addContentFilterDescription)</td>
								<td>@Html.Raw(@type.addPageFilterDescription)</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
