@model List<Harbor.UI.Models.StyleGuide.StyleGuidePage>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
	@RenderSection("head", required: false)
	<link rel="stylesheet" href="~/content/prettify/prettify.css" type="text/css" />	
}
<section class="page centered">
	 <header class="page-header">
	 	<h1 class="float-left">@Html.ActionLink("Style Guide", "Index", new { pageKey = "Home" })</h1>
	 	@Html.Action("PageNav")
		@RenderSection("pageheader", required: false)
	 </header>
	<div class="page-body">
		@RenderBody()
	</div>
 </section>
@section scripts {
	@RenderSection("scripts", required: false)
	<script src="~/scripts/prettify/prettify.js"></script>
	<script>
		$(function() {
			prettyPrint();
		});
	</script>
}