@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
	@RenderSection("head", required: false)
	<link rel="stylesheet" href="~/content/site/ext/styleguide.css" type="text/css" />
	<link rel="stylesheet" href="~/content/prettify/prettify.css" type="text/css" />
}
<div class="page centered">
	<header class="page-header">
		<div class="page-header-content">
			@if (ViewBag.Category != null)
			{
				<h1>
					@ViewBag.Category
					<i class="icon-next" style="position:relative;top:.25em;"></i>
					@ViewBag.PageTitle
				</h1>
			}
			else
			{
				<h1>@ViewBag.PageTitle</h1>
			}
			@RenderSection("pageheader", required: false)
		</div>
	</header>
	<div class="page-body">
		<div class="page-content">
			<div class="page-content-body">
				@RenderBody()
			</div>
		</div>
	</div>
</div>
@section scripts {
	@RenderSection("scripts", required: false)
	<script src="~/scripts/prettify/prettify.js"></script>
	<script>
		$(function () {
			prettyPrint();
		});
	</script>
}